<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello {{ name }}</title>
    <link rel="stylesheet" href="css/bootstrap.css"/>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbroton">
                    <h1 class="display-4">{{ name }}</h1>
                    <p class="lead">This is simple site, a simple from project2.com</p>
                    <hr class="my-4">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                </div>
            </div>
        </div>
    </div>
    <script src="js/bootstrap.js"></script>
</body>
</html>